body{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: roboto, sans-serif;
    margin: 0;
}
.header{
    background-color: #1F2937;
    color: white;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.logo{
    font-weight: 900;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}
.right{
    margin-left: auto;
}
.content{
    display: flex;
    flex-direction: column;
}
a{
    color:white;
    text-decoration: none;
}
.section1{
    display:flex;
    align-content: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 88px;
}
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 88px;
}
.images{
    display:flex;
    flex-direction: row;
    gap: 16px;
}
.small-image{
    width: 200px;
    height:350px;
}
.title{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}
.block{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caption{
    text-align: center;
}

.hero-text{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.hero{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.hero-subtext{
    font-size: 18px;
    color: #E5E7EB;
}
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 88px;
}
.quote{
    color:#1F2937;
    font-size: 36px;
    font-style: italic;
    width: 700px;
}
.signature{
    font-weight: bold;
    font-size: 24px;
}

button.signup{
    background-color: #3882F6;
    border: #3882F6;
    color: white;
    margin:0;
    padding: 4px 16px;
    border-radius: 4px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}