body{
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
    margin: 0;
}
.header{
    background-color: #1F2937;
    color: white;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.logo{
    font-weight: 900;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
}
.right{
    margin-left: auto;
}

a{
    color:white;
    text-decoration: none;
}
.section1{
    flex: 1;
    display:flex;
    align-content: center;
    justify-content: center;
    background-color: #1F2937;
}
.hero-text{
    display: flex;
    flex-direction: column;
}
.hero{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
button.signup{
    background-color: #3882F6;
    border: #3882F6;
    color: white;
    margin:0;
    padding:0;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}